body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F6FA;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #FFFFFF;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    padding: 15px;
}

h6 {
    font-size: 14px;
    margin: 0px;
}

.trash {
    width: 15px;
    margin-left: auto;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.last-row {
    border-bottom: 1px solid #DADADA;
}

#add-message {
    margin-right: 15px;
    width: 85%;
    padding: 8px 5px;
}

#add-message:focus {
    outline:0;
}

#btn-add {
    border-color: #1E90FF;
    border-radius: 5px;
    color: #1E90FF;
    font-size: 16px;
    padding: 6px;
}

#btn-add:focus {
    outline:0;
}
